#seo_summary .number-items{
    float: right;
    margin-right: 1.6%;
    display: inline-block;
}
#seo_summary .plugin_title{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 15px 4px 0;
    line-height: 29px;
    color: #444;
}
#seo_summary .number_record{
    height: 20px;
}
#seo_summary .form-plugin{
    margin-top: 1vh;
}
#seo_summary .seo-table{
    width: 98.8%;
}
#seo_summary .post_title{
    font-size: 18px;
    line-height: 1.2;
}
#seo_summary .post_title a{
    color: #1e0fbe;
}
#seo_summary .post_title a:hover{
    text-decoration: underline;
}
#seo_summary .url{
    font-size: 14px;
}
#seo_summary .url a{
    color: #006621;
    cursor: text;
}
#seo_summary .google-link a:focus{
    box-shadow: none;
}
#seo_summary ._yoast_wpseo_metadesc{
    color: #545454;
    width: 60%;
}
#seo_summary .google-link{
    font-family: arial, sans-serif;
}
#seo_summary table.fixed{
    table-layout: auto;
}
#seo_summary .center{
    text-align: center;
}